body,
html {
  font-family: "Bellefair", serif;
  margin: 0;
  padding: 0;
  a {
    text-decoration: none;
  }
  h1,
  h2,
  h3,
  h4 {
    color: $primary;
    margin: 0;
    font-weight: 100;
    font-weight: 100;
  }
  h1 {
    font-size: 9.375rem;
    font-weight: 400;
  }
  h2 {
    font-size: 6.25rem;
  }
  h3 {
    font-size: 3.5rem;
  }
  h4 {
    font-size: 2rem;
  }
  h5 {
    font-family: "Barlow Condensed", sans-serif;
    font-size: 1.75rem;
    letter-spacing: 0.296875rem;
    color: $secondary;
    margin: 0;
    padding: 0;
  }
  p {
    font-size: 1.125rem;
    color: $secondary;
    line-height: 2rem;
  }
}
.global {
  background-size: cover;
  height: 56.25rem;
  width: 90rem;
}
